---
layout: layouts/home.njk
---

    <style>
        #landing {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            max-width: 52rem;
            min-height: 85vh;
            margin: auto;
        }

        #landing h1 {
            font-size: 3em;
            margin-top: 0;
            margin-bottom: 0;
        }

        #landing > * {
            width: 100%;
        }

        #landing p {
            line-height: 1.5;
        }

        #landing img {
            border-radius: 50%;
            filter: grayscale(100%);
            width: 15em;
            padding-top: 1em;
        }

        #landing section {
            margin: 1em;
        }

        @media only screen and (max-width:50em){
            #landing {
                display: flex;
            }
        }
    </style>
<div id="landing">
<img src="https://avatars1.githubusercontent.com/u/59428316?s=460&u=7f08a594abe4c0c467b12f4f1718db6f822136f0&v=4" alt="Randy and Boys" />
<section>
    <h1>Randy Brown</h1>
    <p>Hey friends! I'm a fullstack technology leader living in San Antonio, Texas.</p>
    <p>I enjoy hanging out with my wife and sons, playing board games (probably Adventure Tactics), video games (probably Zelda), and putting together LEGO sets.</p>
    <p>I take <a href="/notes">notes</a> about whatever is on my mind--usually the above topics, and consult through <a href="https://happyacornventures.com">Happy Acorn Ventures</a>.</p>
    <br />
    <div><a href="https://linkedin.com/in/thatrandybrown">LinkedIn</a> | <a href="https://github.com/thatrandybrown">GitHub</a> | <a href="https://podcasts.apple.com/us/podcast/were-not-saving-babies/id1634274122">Podcast (defunct)</a> | <a href="https://cal.com/thatrandybrown">Schedule a Call</a></div>
</section>
</div>
