---
layout: layouts/home.njk
---

    <style>
        #landing {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            max-width: 52rem;
            min-height: 85vh;
            margin: auto;
        }

        #landing h1 {
            font-size: 3em;
            margin-top: 0;
            margin-bottom: 0;
        }

        #landing > * {
            width: 100%;
        }

        #landing p {
            line-height: 1.5;
        }

        #landing img {
            border-radius: 50%;
            filter: grayscale(100%);
            width: 15em;
            padding-top: 1em;
        }

        #landing section {
            margin: 1em;
        }

        @media only screen and (max-width:50em){
            #landing {
                display: flex;
            }
        }
    </style>
<div id="landing">
<img src="https://avatars1.githubusercontent.com/u/59428316?s=460&u=7f08a594abe4c0c467b12f4f1718db6f822136f0&v=4" alt="Randy and Stephen" />
<section>
    <h1>Randy Brown<h1>
    <h2>Principal Engineer & Architect</h2>
    <p>Hey friends! I'm a fullstack engineer and architect living in San Antonio, Texas.</p>
    <p>I am currently improving developer experience at <a href="https://cerebral.com">Cerebral</a>.</p>
    <p>In my spare time, I'm building bootstrappable, self hosted infrastructure for technical founders.</p>
    <p>I also enjoy hanging out with my wife and sons, playing video games (probably Zelda), and putting together LEGO sets.</p>
    <br />
    <div><a href="https://linkedin.com/in/thatrandybrown">LinkedIn</a> | <a href="https://github.com/thatrandybrown">GitHub</a></div>
</section>
</div>